<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RetreavingData_066.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=LAPTOP-NNJOPBIC\SQLEXPRESS;Initial Catalog=AdventureWorks;User ID=sa;Password=gmgm872wc0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>